

  <div class="row align-items-center justify-content-center mw-10 mh-20">
    <div class="col-lg-8">
      <ul #scrollMe class="messages">
        <div *ngFor="let msg of resultados ">
          <li class="message appeared" [ngClass]="{'left':msg.remetente === 'bot',
                        'right':msg.remetente === 'eu'}">
            <div class="avatar"></div>
            <div class="text_wrapper">
              <div class="text">
                <p class="time"> ({{msg.data | date:'HH:mm:ss'}})</p>
                {{msg.mensagem}}
              </div>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </div>

  <div class="row align-items-center justify-content-center">
    <div class="col-sm-6">
      <input mat-input type="text" (keyup.enter)="sendMessage()" [(ngModel)]="msg" />
      <hr>
    
      <button style="width:100%" mat-button color ="primary"(click)="sendMessage()">Enviar</button>
    
  </div>


